.image-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    .img-thumbnail {
        height: 100px;
        width: 100px;
        min-width: 100px;
    }
    .dropdown-toggle:hover {
        text-decoration: none;
        cursor: pointer;
    }
    .main-photo-display {
        cursor: default;
    }
    .dropdown-menu {
        bottom: 0!important;
        height: max-content;
        margin-top: -20px!important;
    }
    
}
.img-card {
    padding: 0 7px;
}

.upload-file-container {
    .nv-file-over {
        border: 3px dotted red;
    }
    input[type='file'] {
        color: transparent;
        margin-bottom: 10px;
    }
    .input-container {
        .input {
            width: 100px;
            margin-right: 10px;
        }
        input {
            width: 100px;
        }
    }
}