<div class="container mt-3">
  <!-- ------------------------- FORM --------------- -->

  <form #form="ngForm" (ngSubmit)="loadUsers()" class="form-inline" novalidate>
    <div class="form-group">
      <label for="minAge">Age From</label>
      <input
        [(ngModel)]="userParams.minAge"
        type="number"
        class="form-control ml-1"
        style="width: 70px"
        id="minAge"
        name="minAge"
        min="18"
        max="98"
      />
    </div>

    <div class="form-group px-2">
      <label for="maxAge">Age To</label>
      <input
        [(ngModel)]="userParams.maxAge"
        type="number"
        class="form-control ml-1"
        style="width: 70px"
        id="maxAge"
        name="maxAge"
        min="18"
        max="99"
      />
    </div>

    <div class="form-group px-2">
      <label for="gender">Show: </label>
      <select
        [(ngModel)]="userParams.gender"
        class="form-control ml-1"
        style="width: 130px"
        id="gender"
        name="gender"
      >
        <option *ngFor="let gender of genderList" [value]="gender.value">
          {{ gender.display }}
        </option>
      </select>
    </div>
    <button type="submit" class="btn btn-info" style="margin-left: 10px">
      Apply Filters
    </button>
    <button
      (click)="resetFilters()"
      type="button"
      class="btn btn-primary text-light reset-btn"
      style="margin-left: 10px"
    >
      Reset
    </button>

    <!--  -->
    <div class="col">
      <div class="btn-group float-right">
        <button
          type="button"
          name="orderBy"
          class="btn btn-primary"
          [(ngModel)]="userParams.orderBy"
          (click)="loadUsers()"
          btnRadio="lastActive"
        >
          Last Active
        </button>
        <button
          type="button"
          name="orderBy"
          class="btn btn-primary"
          [(ngModel)]="userParams.orderBy"
          (click)="loadUsers()"
          btnRadio="created"
        >
          Newest Members
        </button>
      </div>
    </div>
  </form>
  <!-- --------------------------USERS--------------- -->
  <div class="row mt-3">
    <div *ngFor="let user of users" class="col-xl-2 col-lg-3 col-mg-4 col-sm-6">
      <app-member-card [user]="user"></app-member-card>
    </div>
  </div>
</div>

<div class="d-flex justify-content-center">
  <pagination
    [boundaryLinks]="true"
    [totalItems]="pagination.TotalItems"
    [itemsPerPage]="pagination.ItemsPerPage"
    [(ngModel)]="pagination.CurrentPage"
    (pageChanged)="pagedChanged($event)"
    previousText="&lsaquo;"
    nextText="&rsaquo;"
    firstText="&laquo;"
    lastText="&raquo;"
  >
  </pagination>
</div>
