.card {
  img {
    transition: 0.3s ease-in;
    &:hover {
      transform: scale(1.02);
      opacity: 0.8;
    }
  }
  .card-img-wrapper {
    overflow: hidden;
    position: relative;
    &:hover {
      .member-icons {
        bottom: 0;
        opacity: 1;
      }
    }
  }
  .member-icons {
    position: absolute;
    left: 0;
    bottom: -30%;
    opacity: 0;
    width: 100%;
    margin: 0 auto;
    padding-bottom: 20px;
    button {
        padding: .5rem .7rem;
    }
  }
  .animate {
    transition: all 0.3s ease-in;
  }
}
